.btn {
  padding: 8px 18px;
  border: 1px solid black;
  color: black;
  background-color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.form-control {
  display: flex;
  margin-bottom: 20px;
}

.input-field {
  margin-left: 8px;
  border-radius: 4px;
  padding: 8px 18px;
  border: 1px solid black;
}

.mt-16 {
  margin-top: 16px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-8 {
  margin-left: 8px;
}
